  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body { 
            background: linear-gradient(-45deg, #4c6c3a, #9fd39c, #44f39c79, #3c8359);
            background-size: 400% 400%;
            animation: gradient 5s ease infinite;
            height: 100vh; 
            
        } 
      
         @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
    
            50% {
                background-position: 100% 50%;
            }
    
            100% {
                background-position: 0% 50%;
            }
        }
                @keyframes bounce {
                    0% {
                        transform: scale(3);
                    }
        
                    50% {
                        transform: scale(2);
                    }
        
                    100% {
                        transform: scale(1);
                    }
                }
        
                @keyframes slideFromRight {
                    0% {
                        transform: translateX(1000px);
                        opacity: 0;
                    }
        
                    50% {
                        transform: translateX(-200px);
                        opacity: 0.5;
                    }
        
                    75% {
                        transform: translateX(50px);
                        opacity: 0.75;
                    }
        
                    100% {
                        transform: translateX(0px);
                        opacity: 1;
                    }
                }
        
                @keyframes slideFromLeft {
                    0% {
                        transform: translateX(-1000px);
                        opacity: 0;
                    }
        
                    50% {
                        transform: translateX(200px);
                        opacity: 0.5;
                    }
        
                    75% {
                        transform: translateX(-50px);
                        opacity: 0.75;
                    }
        
                    100% {
                        transform: translateX(0px);
                        opacity: 1;
                    }
                } 


.banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner h2 {
    text-shadow: 2px 2px #696666a2;
    font-size: 70px;
    font-family: 'Cinzel', serif;
    color: whitesmoke;
     animation: slideFromRight 5s ease-in-out 1;
}

.banner h1 {
    text-shadow: 2px 2px #696666a2;
    font-size: 150px;
    font-family: 'Cinzel', serif;
    /* text-transform: uppercase; */
    color: whitesmoke;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 0.3rem;

    animation: slideFromLeft 5s ease-in-out 1;
 
}

.aboutsec{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid white;
           padding: 30px;
        box-shadow: 1px 2px 17px -1px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 1px 2px 17px -1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px 2px 17px -1px rgba(0, 0, 0, 0.75);
        
}
   .section-center {
      padding: 4rem 0;
      width: 85vw;
      margin: 0 auto;
      max-width: 1170px;
   
    
  } 
  .chkform{
    width: 300px;
    display: flex;
    justify-content: center;

  }
  .nav-link{
    font-size: 20px;
  }
  .nav-i{
    color: #9fd39c;
    padding-left: 8px;
    padding-right: 15px;
  }
  .indexsec{
    padding: 4rem 0;
        width: 75vw;
        height: 100vh;
        margin: 0 auto;
        max-width: 1170px;
            text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url(./images/indexbg2.jpg);
                
                background-position: center center;
                background-size: cover;
            /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    center/cover no-repeat fixed; */
  }
